# Environnements virtuels Python
.venv/
venv/
env/

# Fichiers compilés Python
__pycache__/
*.py[cod]

# Fichiers système
.DS_Store
Thumbs.db

# Documents de test éventuels
*.tmp

# Base de données locale et secrets du serveur
*.db
.env
